.globalgoals-container {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center horizontally */
  justify-content: flex-start; 
  min-height: 100vh;
  padding-top: 60px;  /* Adjust padding for the fixed navbar */
  text-align: center;
}

.globalgoals-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Flexible 4-column grid */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.text-container {
  flex: 2;
  text-align: center;  /* Center the text */
  margin-top: 20px;  /* Space between the image and text */
}

.explanation-text {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

.tittle-text{
  color: black;
}

.goals-catalog{
  display: flex;
  gap: 20px;
  width: 100%;
}

.goal-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal-card:hover{
  transform: translateY(-10px);
}

.goal-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.goal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

.goal-description {
  font-size: 1rem;
  color: black;
  text-align: center;
  padding: 15px;
  justify-self: unset;
}

.more-container {
  padding: 20px;
  color:black;
  border-radius: 10px;
  border: 2px solid lab(84.38% 8.76 33.41 / 0.632);
  margin-left: 20px;
  margin-right: 20px; 
  margin-bottom: 20px;
}

.button-center-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-gg-page {
  background-color: #d58926;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .globalgoals-catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .globalgoals-catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .globalgoals-catalog {
    grid-template-columns: 1fr;
  }
}
