/* Navbar Styles */
.navbar {
    background-color: #ffffff;
    padding: 10px 0;
    position: fixed;  /* Fix navbar at the top */
    top: 0;  /* Ensure it's at the very top */
    left: 0;  /* Ensure it starts from the left */
    width: 100%;  /* Full width */
    z-index: 100;  /* Keep it on top of other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Optional: Adds a shadow effect */
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-link {
    color: #000000;
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  .navbar-link:hover {
    color: #990424;
  }
  